.night-theme {
    --main-color: rgba(104, 17, 60, 0.986);
    --border-color: rgba(0, 0, 0);
    --txt-color: rgb(255, 255, 255);
    --bg-image: url(/src/image/bg-night-cat.jpg);
}

.light-theme{
    --main-color: rgba(211, 52, 131, 0.986);
    --border-color: rgba(228, 130, 179, 0.986);
    --txt-color: rgba(0, 0, 0);
    --bg-image: url(/src/image/bg-light-cat.jpg)
}


.container{
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

h1, ul {
    padding: 0;
    margin: 0;
}

body {
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}

.header {
    padding: 10px 0;
}

.bank {
    display: block;
    margin-bottom: 10px;
}

.currency-list {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
    color: var(--txt-color);
    height: 20px;
}

.main {
    padding: 10px 0;
}

.title {
    margin-bottom: 10px;
    color: var(--txt-color);
    font-family: cursive;    
}

.currency-form {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--main-color);
    border: 2px solid var(--border-color);
    border-radius: 20px;
}

.currency-form p {
    color: var(--txt-color);
}

.currency-form input {
    width: 70px;
}

.currency-form input:focus-visible {
    border-color: var(--border-color);
}

.currency-form label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.currency-form select {
    /* width: 150px; */
}

.currency-form select:focus {
    width: auto;
}

[data="empty"]{
    border-color: rgb(255, 0, 0);
}

/* .subscribe-form__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
} */


/* color theme button */
.btn-color-theme{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;    
    box-shadow: 5px 5px rgb(187, 135, 135);
}

.btn-color-theme:hover {
    background-color: rgb(255, 255, 255);
}

[hide] {
    display: none;    
}

