.container{
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

h1, ul {
    padding: 0;
    margin: 0;
}

header {
    padding: 10px 0;
}

.bank {
    display: block;
    margin-bottom: 10px;
}

.currency-list {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;

    height: 20px;
}

main {
    padding: 10px 0;
}

h1 {
    margin-bottom: 10px;
    color: hotpink;
    font-family: cursive;    
}

.currency-form {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; */

    width: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(255, 105, 180, 0.39);
    border: 2px solid hotpink;
    border-radius: 20px;
}

.currency-form input {
    width: 70px;
}

.currency-form input:focus-visible {
    border-color: hotpink;
}

.currency-form label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.currency-form select {
    width: 150px;
}

.currency-form select:focus {
    width: auto;
}

/* [name="fromQuantity"].invalid {
    border-color: rgb(255, 0, 0);
} */

/* .subscribe-form__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
} */