.night-theme {
    --main-color: rgba(104, 17, 60, 0.986);
    --border-color: rgba(0, 0, 0);
    --txt-color: rgb(255, 255, 255);
    --bg-image: url(/src/image/bg-night-cat.jpg);
}

.light-theme {
    --main-color: rgba(211, 52, 131, 0.986);
    --border-color: rgba(228, 130, 179, 0.986);
    --txt-color: rgba(0, 0, 0);
    --bg-image: url(/src/image/bg-light-cat.jpg)
}

/* switcher */
.btn-color-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    box-shadow: 5px 5px rgb(187, 135, 135);

    &:hover {
        background-color: rgb(255, 255, 255);
    }
}

[hide] {
    opacity: 0;
}